.dark-theme {
    font-family: system-ui;
    --bg: rgb(23, 23, 26);
    --borderColor: #40424E;
    --hColor: #FFFFFF;
    --itemBlockBg: #232530;
    --tokenInfoBg: linear-gradient(180deg, #232530 0%, #191B23 31.77%);
    --tokenPColor: #FFFFFF;
    --popularLineColor: rgba(143, 155, 179, 0.24);
  } 

.light-theme {
    font-family: system-ui;
    --bg: rgb(231, 235, 246);
    --borderColor: #EDF1F7;
    --hColor: #2E3A59;
    --itemBlockBg: #FFFFFF;
    --tokenInfoBg: #F6F7FA;
    --tokenPColor: #2E3A59;
    --popularLineColor: #F5F5F5;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg);
}

.cbridge-iframe{
    width: 100%;
    height: 900px;
}

h2{
    font-size: 32px;
    color: var(--hColor);
}

h4{
    font-size: 18px;
    color: var(--hColor);
}

p{
    font-size: 14px;
    color: #8F9BB3;
    line-height: 25px;
}

a{
    text-decoration: none;
    color: #598BFF;
    font-size: 16px;
}

.a-config{
    font-size: 14px;
}

.step-img-block{
    display: flex;
    justify-content:center;
    align-items:center;
}

.step-blue{
    color: #598BFF;
}
.step-note{
    color: #FF7D00;
}

.step-img{
    width: 400px;
    background-color: var(--itemBlockBg);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
}
.content{
    /* width: 100%; */
    display: flex;
    justify-content:center;
    align-items:center;
}

.content-block{
    max-width: 944px;  
    width: 944px; 
}

/* .state-content{
    max-width: 944px;  
    width: 944px; 
} */
.item-block{
    border-radius: 16px;
    margin-top: 24px;
    background-color: var(--itemBlockBg);;
    padding: 10px 24px 10px 24px;
    border: 1px solid var(--borderColor);
}

.describe-from-to{
    display: flex;
    background-color: var(--bg);  
    padding: 0px;
    margin-top: 0px;
    border: none;
}

.token-info{
    border-radius: 12px;
    background-color: var(--tokenInfoBg);
    padding: 8px 20px 20px 20px;
    border: 1px solid var(--borderColor);
}

.token-info-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.token-p{
    font-size: 14px;
    font-weight: 500;
    color: var(--tokenPColor);
}

.token-info-img-block{
    display: flex;
    align-items: center;
}

.token-info-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.token-info-line{
    background-color: rgba(143, 155, 179, 0.24);
    height: 1px;
}

.token-price-text{
    color: #598BFF;
}

.describe-chain{
    margin-left: 24px;
}

.describe-img{
    width: 14px;
    height: 14px;
    margin-top: 3px;
}

.popular-bridges-link{
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.popular-bridges-link-block{
    width: 50%;
}

.popular-link{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 40px;
}

.popular-line{
    background-color: var(--popularLineColor);
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    color: #8F9BB3;
    font-size: 12px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.social{
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-img{
    cursor: pointer;
    width: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-link{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}





